---
# Main SASS file
---
// English fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500..800&display=swap');

// import sass files
@import "colors.scss";
@import "variables.scss";
@import "mixins.scss";

// Defaults
@import "helpers.scss";

// Elements
@import "buttons.scss";
@import "select.scss";
@import "tooltips.scss";
@import "search.scss";
@import "message.scss";
@import "promo.scss";

// Pages
@import "entry.scss";
@import "form.scss";
@import "glossary.scss";
@import "blog.scss";

// Modules
@import "module_list_questions.scss";
@import "module_about.scss";
@import "module_contributors.scss";


:root {
    --blackInk: #262626;
    --gray: #646464;
    --lightGray: #EFEFEF;
    --sunDown: #FFB2B2;
    --accent: #F2DEDC;
    --checkBlue: #2D77FC;
    --edbLightBlue: #509BF5;
    --coral: #FF864D;
    --eastSide: #9F82C4;
    --cornflowerBlue: #5F9EE5;
    --texasRose: #FFB34D;
    --deepSea: #008D5E;
    --silver: #A7A7A7;
    --edbPaleGreen: #8DDABE;
    --edbGreenLight: #36B687;
    --edbGreen: #3BA77D;
    --edbGreenDark: #3D8366;
    --edbOrange: #FFB124;
    --edbPaleOrange: #FFF3DF;
    --edbRed: #EB0042;
    --edbPaleRed: #EFE6E7;

    --space-1: 1rem; // 18px
    --space-2: 1.111rem; // 20px
    --space-3: 1.667rem; // 30px
    --space-4: 2.222rem; // 40px
    --space-6: 3.333rem; // 60px
    --space-8: 5.556rem; // 100px
    --section-space: var(--space-8); // 100px
    @include responsive('min-width: #{$width-tablet}') {
        --space-1: 1rem; // 18px
        --space-1: 1.111rem; // 20px
        --space-2: 1.667rem; // 30px
        --space-3: 2.222rem; // 40px
        --space-4: 2.778rem; // 50px
        --space-5: 3.333rem; // 60px
        --space-6: 4.444rem; // 80px
        --space-7: 5.556rem; // 100px
        --space-8: 6.667rem; // 120px
        --section-space: var(--space-8); // 120px
        --space-9: 7.778rem; // 140px
    }

    --font-weight: 520;
    --font-size: 1.111rem;
    --font-line-height: 1.667rem;
    --font-family-hindi: 'Mukta', sans-serif;
    --font-family-telugu: 'Baloo Tammudu 2', cursive;

    --page-padding-horizontal: 3.75rem;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0
}

html {
    font-size: 12px;
    @include responsive('min-width: #{$width-tablet}') {
        font-size: 18px;
    }
    scroll-behavior: smooth;
    font-weight: var(--font-weight);
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    padding: 0;
}

a {
    color: var(--blackInk);
}

body {
    color: var(--blackInk);
    background: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    h1, h2, h3, h4 {
        font-weight: var(--font-weight);
    }
}

// Hindi Font
html:lang(hi) body {
    font-family: var(--font-family-hindi);
    font-weight: 500;
}

header {
    @include responsive('min-width: #{$width-tablet}') {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: var(--space-4);
    }
    padding-top: var(--space-4);
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    padding-bottom: var(--space-2);
}

.dark {
    background-color: var(--blackInk);
    color: #fff;
    a {
        color: #fff;
    }
}

header .header-wrapper {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        justify-content: space-between;
    }
}

header h1 {
    margin: 0;
    padding: 0 var(--space-2) 0 0;
    font-size: var(--scale-1);
    font-weight: var(--font-weight);
    em {
        display: block;
        font-style: normal;
    }
    a {
        text-decoration: none;
    }
}

header nav {
    display: flex;
    align-items: center;
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 5/-1;
        align-self: center;
        text-align: right;
        justify-content: flex-end;
    }
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        border-top: 1px solid var(--blackInk);
        padding-top: var(--space-1);
        margin-top: var(--space-2);
    }
    * {
        padding: 5px 0;
        margin: 0 var(--space-2) 0 0;
        // margin-top: var(--space-2);
        // justify-content: space-between;
        @include responsive('min-width: #{$width-tablet}') {
            margin: auto 0 0 var(--space-2);
        }
        text-decoration: none;
    }
    .select-css {
        // margin-left: var(--space-2);
        width: auto;
    }
}

body.hi header nav {
    font-family: var(--font-family-hindi);
}


.content-wrapper {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    @include responsive('min-width: #{$width-tablet}') {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: var(--space-4);
        grid-row-gap: var(--space-1);
    }
    line-height: 1.8rem;
}

@include responsive('min-width: #{$width-tablet}') {
    p {
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}


.front .content-wrapper .lead-wrapper {
    margin-left: calc(-1 * var(--space-4));
    margin-right: calc(-1 * var(--space-4));
    // color: var(--edbGreen);
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    padding-bottom: var(--space-4);
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 1/-1; 
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: var(--space-4);
    }
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        padding-bottom: var(--space-8);
    }
}

.content-wrapper h2.lead {
    margin: 1.188rem auto 0 0;
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        margin-bottom: var(--space-4);
        font-size: 2.667rem;
        line-height: 3.222rem;
    }
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 1/6;
        font-size: 3.333rem;
        line-height: 4.111rem;
    }
    font-size: 3.333rem;
    line-height: 4.111rem;
    font-weight: var(--font-weight);
    color: var(--edbGreen);
}


.front h2.lead {
    margin-top: 0;
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 1/9;
        font-size: 2rem;
        line-height: 2.444rem;
    }
    @include responsive('min-width: #{$width-desktop}') {
        grid-column: 1/10;
        font-size: 2.667rem;
        line-height: 3.222rem;
    }
}

.front .header-button-wrapper {
    position: relative;
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 9/-1; 
    }
    @include responsive('min-width: #{$width-desktop}') {
        grid-column: 10/-1; 
        margin-left: var(--space-3);
    }
}

.front .header-button {
    display: block;
    color: var(--blackInk);
    position: relative;
    border: 2px solid var(--blackInk);
    z-index: 0;
    text-decoration: none;
    line-height: 1.2;


    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        width: 264px;
    }
    
    span {
        display: block;
    }
    span:first-child {
        background-color: var(--blackInk);
        color: #fff;
        border-bottom: 2px solid var(--blackInk);
        padding-bottom: 0.778rem;
        margin-bottom: 0.778rem;
        padding-top: var(--space-1);
        padding-left: var(--space-2);
        padding-right: var(--space-2);
    }
    span:last-child {
        padding-bottom: var(--space-1);
        padding-left: var(--space-2);
        padding-right: var(--space-2);
    }
   
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 13px;
        width: 0;
        height: 0;
        border: 30px solid transparent;
        border-top-color: var(--blackInk);
        border-bottom: 0;
        border-left: 0;
        margin-left: -15px;
        margin-bottom: -30px;
        z-index: 0;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 3px;
        left: 13px;
        width: 0;
        height: 0;
        border: 28px solid transparent;
        border-top-color: #fff;
        border-bottom: 0;
        border-left: 0;
        margin-left: -13px;
        margin-bottom: -28px;
        z-index: 1;
    }

    &:hover {
        span:first-child {
            background-color: var(--texasRose);
            color: var(--blackInk);
        }
    }
}

.content-wrapper .embed {
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        margin-top: var(--space-2);
    }
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 1/-1;
    }
}

.content-wrapper .content {
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 2/6;
        grid-row: 3/4;
    }
}

.content-wrapper .search {
    grid-column: 1/-1;
}

.content-wrapper .logos {
    margin-top: var(--section-space);
    margin-bottom: var(--space-1);
    display: flex;
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        flex-direction: column;
        align-items: center;
    }
    div {
        align-self: center;
    }
    div:nth-of-type(1) {
        @media (min-width: 1px) and (max-width: #{$width-tablet}) {
            margin-bottom: var(--space-8);
        }
        @include responsive('min-width: #{$width-tablet}') {
            margin-right: var(--space-8);
        }
    }
    div:nth-of-type(2) {
        a {
            display: flex;
            flex-direction: column;
            margin-top: var(--space-1);
        }
    }
}

.content-wrapper .modules-wrapper {
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 1/-1;
        grid-row: 5;
    }
}

.content-wrapper h3 {
    font-size: 1.556rem;
    line-height: 2rem;
    font-weight: var(--font-weight);
    color: var(--edbGreen);
    margin: 1.188rem auto 0 0;
}

.content-wrapper h4 {
    font-size: 1.556rem;
    line-height: 3rem;
    font-weight: var(--font-weight);
    color: var(--edbGreen);
    margin: 1.188rem auto 0 0;
}

.content-wrapper p, 
.content-wrapper ul, 
.content-wrapper ol {
    font-size: var(--font-size);
    line-height: var(--font-line-height);
}

.content-wrapper p:not(:first-child) {
    margin: 1.188rem auto 0 0;
}

.content-wrapper blockquote {
    border-left: 2px solid var(--blackInk);
    padding-left: var(--space-2);
}

.content-wrapper .disclaimer {
    margin-top: var(--space-4);
}

.content-wrapper p.small {
    font-size: 0.833rem;
    line-height: 1rem;
}

.newsletter {
    margin-top: 16.666vh;
    margin-bottom: var(--section-space);
    padding-top: var(--space-2);
    margin-left: var(--space-4);
    margin-right: var(--space-4);
    border-top: 2px solid var(--blackInk);
    font-size: 2rem;
    line-height: 2.875rem;
}

.footer {
    margin-top: var(--section-space);
    margin-bottom: var(--section-space);
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    line-height: 1.4;
    a {
        text-decoration: none;
    }
    @include responsive('min-width: #{$width-tablet}') {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--space-4);
    }
    div {
        @media (min-width: 1px) and (max-width: #{$width-tablet}) {
            margin-top: var(--space-4);
        }
    }
}

.disclaimers {
    margin-top: var(--section-space);
    margin-bottom: var(--section-space);
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    line-height: 1.4;
    @include responsive('min-width: #{$width-tablet}') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--space-4);
    }
    div {
        @media (min-width: 1px) and (max-width: #{$width-tablet}) {
            margin-top: var(--space-4);
        }
    }
}

.module {
    margin-top: var(--section-space);
    margin-bottom: var(--section-space);
}

.list ul {
    list-style-type: none;
    margin-top: var(--space-1);
}

.list ul li a {
    display: block;
    color: var(--edbGreen);
    font-size: var(--font-size);
    line-height: var(--font-line-height);
    text-decoration: none;
    padding-top: var(--space-1);
    padding-bottom: 0.556rem;
    border-bottom: 2px solid var(--edbGreen);
    &:hover {
        color: var(--edbRed);
    }
}
