---
title: What do we know about COVID-19’s mutation capacity?
description: |
    The ability of COVID-19 to mutate is being studied around the world. While all viruses eventually mutate, and COVID-19 changes all the time, and has in fact already mutated a few times since its discovery last year, it does not appear that COVID-19 is mutating in a way that makes it more lethal, or more contagious to people. While the virus creates mutations every time it infects individual cells, most of these changes don't help the virus in any way, so it rejects them, and continues on making copies of itself. It should be noted that in a recent pre-print study that reported on COVID-19's potential ability to mutate, there was no evidence that patients with the alleged mutated strain of the virus were more likely to be hospitalized.
lang: en-US
permalink: entry
slug: thanks
---
{% assign questions = site.data.covid19.questions-en %}

{% for question in questions %}
    <p>
        {{ question['Question'] }}
        {{ question['Other resources'] | markdownify }}
        {% assign gq = question['Glossary Terms'] %}
        
        <ul>
        {% for g in gq %}
            {% assign glossary = site.data.covid19.glossary-en 
                | where_exp: "item","item.id == g" %}
            <li>{{ g }}:{{ glossary }}</li>
        {% endfor %}
        </ul>
    </p>

    {% for images in question['Media'] %}
        <img src="{{ images.url }}" />
    {% endfor %}
{% endfor %}
