<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>

<script>
    const search = instantsearch({
      indexName: 'covid19',
      searchClient: algoliasearch('XVQE72Q0TQ', 'd031b4f0809f3999da155451bffba6db'),
      searchFunction: function(helper) {
        helper.addDisjunctiveFacetRefinement('lang', '{{ page.lang }}').search();
      },
    });

    const hitTemplate = function (hit) {
        const url = `{{ site.baseurl }}${hit.url}#${hit.anchor}`;
        let title = '';
        if (hit._highlightResult.title) {
            title = hit._highlightResult.title.value;
        } else {
            title = hit['Question'];
        }

        let description = '';
        if (hit.description) {
            description = hit.description;
        } else if (hit.short_description) {
            description = hit.short_description;
        } else if (hit.content) {
            description = hit.content;
        } else {
            description = hit.body;
        }

        if(description) {
            description = description.substring(0, 110).concat('...');
        }

        const image = hit.image ? 
        `<span class="media-preview-wrapper">
            <span class="media-preview">
                <span class="media-preview-image">
                    <img src="${hit.image}" />
                </span>
                <span class="media-preview-count">
                    +
                </span>
            </span>
        </span>` : '';

        const last_modified = 'Last modified' in hit ?
            new Date(hit['Last modified'])
                .toLocaleDateString(undefined, { weekday: undefined, year: 'numeric', month: 'long', day: 'numeric' })
            : '';

        const breadcrumbs = hit._highlightResult.headings ?
            hit._highlightResult.headings.map(match => {
                return `<span class="post-breadcrumb">${match.value}</span>`
            }).join(' > ') : '';

        const topics = 'Topics' in hit ? hit['Topics'].join(', ') : '';

        return `
            <a href="${url}" title="${title}" class="question-wrapper">
                <div class="question">
                    ${title}
                </div>
                <div class="experts-say with-media-preview">
                    ${description}
                    ${image}
                </div>
                <div class="category">
                    ${topics}
                </div>
                <div class="last-modified">
                    ${last_modified}
                </div>
            </a>
        `;
    }

    // Adding searchbar and results widgets
    search.addWidgets([
        instantsearch.widgets.searchBox({
            container: '#search-searchbar',
            placeholder: 'What are you looking for?',
            autofocus: true,
        }),
        // instantsearch.widgets.clearRefinements({
        //     container: '#clear-refinements',
        // }),
        instantsearch.widgets.refinementList({
            container: '#filters-categories',
            attribute: 'Topics',
        }),
        instantsearch.widgets.refinementList({
            container: '#filters-lang',
            attribute: 'lang',
        }),
        instantsearch.widgets.hits({
            container: '#search-hits',
            templates: {
                item: hitTemplate,
            },
        }),
        instantsearch.widgets.stats({
            container: '#stats',
        }),
    ]);

    // Starting the search
    search.start();
</script>
