<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.0.0/dist/algoliasearch-lite.umd.js" integrity="sha256-MfeKq2Aw9VAkaE9Caes2NOxQf6vUa8Av0JqcUXUGkd0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.0.0/dist/instantsearch.production.min.js" integrity="sha256-6S7q0JJs/Kx4kb/fv0oMjS855QTz5Rc2hh9AkIUjUsk=" crossorigin="anonymous"></script>


<script>
    const search = instantsearch({
        indexName: '{% env ALGOLIA_INDEX_NAME_GLOSSARY %}',
      searchClient: algoliasearch('{% env ALGOLIA_APPLICATION_ID %}', '{% env ALGOLIA_SEARCH_ONLY_API_KEY %}'),
      searchFunction: function(helper) {
        helper.addDisjunctiveFacetRefinement('lang', '{{ page.lang }}').search();
      },
    });

    const hitTemplate = function (hit) {
        let title = '';
        if (hit._highlightResult.title) {
            title = hit._highlightResult.title.value;
        } else {
            title = hit['Term'];
        }

        let description = '';
        if (hit['Definition']) {
            description = hit['Definition']
        } else if (hit.description) {
            description = hit.description;
        } else if (hit.short_description) {
            description = hit.short_description;
        } else {
            description = hit.body;
        }

        const id = hit.id ? hit['id'] : '';

        return `
            <div class="term">
                <h4 id="${id}">
                    ${title}
                </h4>
                <div class="definition">
                    ${description}
                </div>
            </a>
        `;
    }


    let firstTimeHash = true;

    const statTemplate = function(stat) {
        // Scroll to hash if we just loaded the page.
        if (firstTimeHash) {
            firstTimeHash = false;
            const entry = document.querySelector(window.location.hash);
            if (entry) {
                entry.scrollIntoView();
            }
        }

        if (stat.hasNoResults) return "No results";
        if (stat.hasOneResult) return "1 result";
        if (stat.hasManyResults) return `${stat.nbHits} results`;
    }

    // Adding searchbar and results widgets
    search.addWidgets([
        instantsearch.widgets.searchBox({
            container: '#search-searchbar',
            placeholder: 'What are you looking for?'
        }),
        instantsearch.widgets.refinementList({
            container: '#filters-lang',
            attribute: 'lang',
        }),
        instantsearch.widgets.hits({
            container: '#search-hits',
            templates: {
                item: hitTemplate,
            },
        }),
        instantsearch.widgets.stats({
            container: '#stats',
            templates: {
                text: statTemplate,
            },
        }),
        instantsearch.widgets.poweredBy({
            container: '#powered-by',
        }),
    ]);

    // Starting the search
    search.start();
</script>
