<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>

<script>
    const search = instantsearch({
      indexName: 'covid19',
      searchClient: algoliasearch('XVQE72Q0TQ', 'd031b4f0809f3999da155451bffba6db'),
      searchFunction: function(helper) {
        helper.addDisjunctiveFacetRefinement('lang', '{{ page.lang }}').search();
      },
    });

    const hitTemplate = function (hit) {
        const url = `{{ site.baseurl }}${hit.url}#${hit.anchor}`;
        const title = hit._highlightResult.title ? hit._highlightResult.title.value : 'NO TITLE!';

        let description = '';
        if (hit.description) {
            description = hit.description;
        } else if (hit.short_description) {
            description = hit.short_description;
        } else {
            description = hit.body;
        }

        const last_modified = 'Last modified' in hit ? hit['Last modified'] : '';

        const breadcrumbs = hit._highlightResult.headings ?
            hit._highlightResult.headings.map(match => {
                return `<span class="post-breadcrumb">${match.value}</span>`
            }).join(' > ') : '';

        const topics = 'Topics' in hit ? hit['Topics'].join(', ') : '';

        return `
            <a href="${url}" title="${title}" class="question-wrapper">
                <div class="question">
                    ${title}
                </div>
                <div class="experts-say">
                    ${description}
                </div>
                <div class="category">
                    ${topics}
                </div>
                <div class="last-modified">
                    ${last_modified}
                </div>
            </a>
        `;
    }

    // Adding searchbar and results widgets
    search.addWidgets([
        instantsearch.widgets.searchBox({
            container: '#search-searchbar',
            placeholder: 'What are you looking for?'
        }),
        // instantsearch.widgets.clearRefinements({
        //     container: '#clear-refinements',
        // }),
        instantsearch.widgets.refinementList({
            container: '#filters-categories',
            attribute: 'topics',
        }),
        instantsearch.widgets.refinementList({
            container: '#filters-lang',
            attribute: 'lang',
        }),
        instantsearch.widgets.hits({
            container: '#search-hits',
            templates: {
                item: hitTemplate,
            },
        }),
    ]);

    // Starting the search
    search.start();
</script>
