<div class="data">
    
    <h3 class="section-title">{{ site.data.ui.t[page.lang].entry.data }}</h3>
    <div class="data-row">
        <h4 class="label">{{ site.data.ui.t[page.lang].entry.glossary-terms }}</h4>
        <div class="value terms">
            {% include terms.html %}
        </div>
    </div>
    <div class="data-row">
        <h4 class="label">{{ site.data.ui.t[page.lang].entry.source }}</h4>
        <div class="value source">
            {% include source.html %}
        </div>
    </div>
    <div class="data-row">
        <h4 class="label">{{ site.data.ui.t[page.lang].entry.location }}</h4>
        <div class="value location">
            {% include location.html %}
        </div>
    </div>
    <div class="data-row">
        <h4 class="label">{{ site.data.ui.t[page.lang].entry.tags }}</h4>
        <div class="value tags">
            {% include tags.html %}
        </div>
    </div>
    <div class="data-row">
        <h4 class="label">{{ site.data.ui.t[page.lang].entry.variation-by-country }}</h4>
        <div class="value variation-by-country">
            {% include variation_by_country.html %}
        </div>
    </div>
    <div class="data-row">
        <h4 class="label">{{ site.data.ui.t[page.lang].entry.variation-by-demographic }}</h4>
        <div class="value variation-by-demographic">
            {% include variation_by_demographic.html %}
        </div>
    </div>
</div>