<aside class="actions share left">
    <div class="sticky-item">
        <a class="btn btn-icon btn-icon-no-border icon-bookmark" href=""></a>
        <a class="btn btn-icon btn-icon-no-border icon-twitter" href=""></a>
        <a class="btn btn-icon btn-icon-no-border icon-facebook" href=""></a>
    </div>
</aside>
<aside class="actions paging right">
    <div class="sticky-item">
        <a class="btn btn-icon icon-close" href=""></a>
        <a class="btn btn-icon icon-arrow-left" href=""></a>
        <a class="btn btn-icon icon-arrow-right" href=""></a>
    </div>
</aside>