{% if page.lang != 'en-US' %}
    {% assign path = page.lang | append: '/' | prepend: '/' %}
{% else %}
    {% assign path = '' | prepend: '/' %}
{% endif %}
<div class="disclaimers">
    <div>
        <p class="small">{{ site.data.ui.t[page.lang].disclaimers.we-base-our }}</p>
    </div>
    <div>
        <p class="small">{{ site.data.ui.t[page.lang].disclaimers.the-data-and-content }}</p>
    </div>
</div>
<div class="footer">
    <div>
        <a href="mailto:health@meedan.com">health@meedan.com</a>
    </div>
    <div>
        <a href="//health.meedan.com">{{ site.data.ui.t[page.lang].footer.about }}</a>
    </div>
    <div>
        <a href="//meedan.com">{{ site.data.ui.t[page.lang].footer.meedan }}</a>
    </div>
</div>