<form name="ask-a-question-2" id="ask-a-question-2" class="ask-a-question-form"
  action="{{ form_action | default: '/thanks'}}" netlify-honeypot="bot" netlify>
  <div class="form-group" style="display: none;">
    <label>Don’t fill this out: <input name="bot"></label>
  </div>
  <div class="form-group">
    <label for="organization">{{ site.data.ui.t[page.lang].form.organisation-label }}</label>
    <input id="organization" type="text" name="organization" placeholder="{{ site.data.ui.t[page.lang].form.organisation-placeholder }}"
      required>
  </div>
  <div class="form-group">
    <label for="name">{{ site.data.ui.t[page.lang].form.name-label }}</label>
    <input id="name" type="text" name="name" placeholder="{{ site.data.ui.t[page.lang].form.name-placeholder }}" required>
  </div>
  <div class="form-group">
    <label for="email">{{ site.data.ui.t[page.lang].form.email-label }}</label>
    <input id="email" type="email" name="email" placeholder="{{ site.data.ui.t[page.lang].form.email-placeholder }}" required>
  </div>
  <div class="form-group">
    <label for="question">{{ site.data.ui.t[page.lang].form.question-label }}</label>
    <textarea id="question" type="text" name="question" placeholder="{{ site.data.ui.t[page.lang].form.question-placeholder }}"
      cols="30" rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="deadline">{{ site.data.ui.t[page.lang].form.deadline-label }}</label>
    <input id="deadline" type="text" name="deadline" placeholder="{{ site.data.ui.t[page.lang].form.deadline-placeholder }}">
  </div>
  <div class="form-group">
    <input type="checkbox" name="follow-up" class="switch" id="follow-up" checked>
    <label class="switch" for="follow-up">{{ site.data.ui.t[page.lang].form.follow-up-label }}</label>
  </div>
  <button type="submit" class="button">{{ site.data.ui.t[page.lang].form.button-label }}</button>
</form>