<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="" />

  {% if page.slug == '/' %}
    <title>{{ site.title }}</title>
  {% else %}
    <title>{% if page.title %}{{ page.title }}{% endif %}{{ site.title | escape | prepend: ' | ' }}</title>
  {% endif %}
  {% include seo_customizations.html %}
  {% seo %}
  <link rel="apple-touch-icon" href="apple-touch-icon.png"> 
  <link rel="stylesheet" type="text/css" href="/css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}">
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
  {% endif %}
  
  {% if page.slug == '/' or page.slug == 'glossary' %}
    <!-- Algolia css reset -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css" integrity="sha256-t2ATOGCtAIZNnzER679jwcFcKYfLlw01gli6F6oszk8=" crossorigin="anonymous">
  {% endif %}
  
  {% if page.lang == 'hi' %}
    <link href="//fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
  {% elsif page.lang == 'te' %}
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
  {% elsif page.lang == 'ar' %}
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap" rel="stylesheet">
  {% elsif page.lang == 'bn' %}
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap" rel="stylesheet">
  {% endif %}

</head>