<header class="header">
    <div class="header-wrapper">
        <h1>
            <a href="{% if page.lang != 'en-US' %}/{{ page.lang }}{% endif %}/">Covid-19 <em>Expert Database</em></a>
        </h1>
        <a class="button" href="{% if page.lang != 'en-US' %}/{{ page.lang }}{% endif %}/ask-a-question">
            Ask a question 
            {% if page.url == '/ask-a-question' %} ↓ {% else %} → {% endif %}
        </a>
    </div>
    <nav>
        <a href="{% if page.lang != 'en-US' %}/{{ page.lang }}{% endif %}/about">About</a>
        <a href="{% if page.lang != 'en-US' %}/{{ page.lang }}{% endif %}/glossary">Glossary</a>
        {% include language_switcher.html %}
    </nav>
</header>