{% if page.slug != '/' %}
	{% assign location = page.slug | prepend: '/' %}
{% elsif page.slug == '/' %}
	{% assign home = '/' %}
{% endif %}
<select id="language" class="select-css" onchange="javascript:location.href = this.value;">
    <option value="{{ home }}{{ location }}" {% if page.lang == 'en-US' %}selected{% endif %}>English</option>
	<option value="/fr{{ location }}" {% if page.lang == 'fr' %}selected{% endif %}>French</option>
	<option value="/hi{{ location }}" {% if page.lang == 'hi' %}selected{% endif %}>Hindi</option>
</select>