{% assign story_list = site.data.contentful.spaces.moduleStories.moduleStories 
    | where_exp: "item","item.sys.id == '4hDOrsmcTmB60zhqrzF6Xp'"
%}
<div class="featured">
    <div class="featured-wrapper">
        {% for story in story_list[0].stories | limit: 1 %}
            <a href="//meedan.com/blog/{{ story.slug }}" class="post">    
                <div class="cap">Featured</div>
                <h4>{{ story.title }}</h4>
                <div class="description">
                    {{ story.body | markdownify | truncate: 120 }}
                </div>
                {% if story.alt_date %}
                    {% assign published_on = story.alt_date %}
                {% else %}
                    {% assign published_on = story.sys.created_at %}
                {% endif %}
                <div class="post-meta">
                    <span>
                        {% 
                            include words_by.html 
                            data=story.words_by 
                        %}
                    </span>
                    <span>
                        {{ published_on | date: "%-d %B %Y" }}
                    </span>
                    <span>
                        Read on meedan.com
                    </span>
                </div>
            </a>
            <a href="//meedan.com/blog/{{ story.slug }}" class="post">
                <picture class="image-container">
                    <img src="{{ story.lead_image.url | url | append: '?fl=progressive&q=90' }}" alt="{{ story.lead_image.title }}"/>
                </picture>
            </a>
        {% endfor %}
    </div>
</div>