{% assign contributors = site.data.contentful.spaces.contributors.contributor %}
<div class="module module-contributors">
    <h4>{{ module.title.[page.lang] }}</h4>
    {% for c in module.contributors.en-US %}
        {% for contributor in contributors %}
            {% if c.sys.id == contributor.sys.id %}
                <div class="contributor">
                    <h3 class="name">{{ contributor.name.[page.lang] }}</h3>
                    <div class="bio">
                        {{ contributor.bio.[page.lang] | markdownify }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>