{% if page.lang == 'en-US' %}
    {% assign questions = site.data.covid19.questions-en
        | where: 'Item status', 'Published'
        | sort: 'Last modified' 
        | reverse
    %}
{% elsif page.lang == 'fr' %}
    {% assign questions = site.data.covid19.questions-fr 
        | where: 'Item status', 'Published'
        | sort: 'Last modified' 
        | reverse
    %}
{% elsif page.lang == 'hi' %}
    {% assign questions = site.data.covid19.questions-hi 
        | where: 'Item status', 'Published'
        | sort: 'Last modified' 
        | reverse
    %}
{% endif %}
<div class="list-questions">
    <div class="question-wrapper">
        <div class="question">
            {{ site.data.ui.t[page.lang].entry.question }} ({{ questions.size}})
        </div>
        <div class="experts-say">
            {{ site.data.ui.t[page.lang].entry.what-our-experts-say }} 
        </div>
        <div class="category">
            {{ site.data.ui.t[page.lang].entry.tags }} 
        </div>
        <div class="last-modified">{{ site.data.ui.t[page.lang].entry.last-modified }}</div>
    </div>
    {% for question in questions %}
        
    {% assign q = question.Question %}
    {% assign a = question['What our experts say'] %}
    {% assign c = question['Topics'] %}
    {% assign media = question['Media'] %}
    {% assign last_modified = question['Last modified'] | convert_to_date | date: "%-d %B %Y" %}
    {% if page.lang == 'en-US' %}
        
        {% assign url = question.Question | sanitize_filename | prepend: '/questions/' %}
        
    {% elsif page.lang == 'fr' %}
        
        {% assign url = question['Question'] | sanitize_filename | prepend: '/fr/questions/' %}
        
    {% elsif page.lang == 'hi' %}
        
        {% assign url = question['id'] | sanitize_filename | prepend: '/hi/questions/' %}
        
    {% endif %}
    <a href="{{ url }}" title="{{ q }}" class="question-wrapper">
        <div class="question">
            {{ q }}
        </div>
        <div class="experts-say{% if media.size >= 1 %} with-media-preview{% endif %}">
            {{ a | truncate: 110 }}
            {% if media.size >= 1 %}
                {% include media_preview.html %}
            {% endif %}
        </div>
        <div class="category">
            {% for category in c %}
                <span class="capsule">{{ category }}</span>
            {% endfor %}
        </div>
        <div class="last-modified">{{ last_modified }}</div>
    </a>
    {% endfor %}
</div>