<meta property="og:image" content="http://images.ctfassets.net/d4fy1qepdfjq/1ywF78QYQpgpOGd8f3Il1w/975c250c51a531fac450956b97922e55/meedan_learnaboutcovi19.org_01.png" />
<meta property="og:image:secure_url" content="https://images.ctfassets.net/d4fy1qepdfjq/1ywF78QYQpgpOGd8f3Il1w/975c250c51a531fac450956b97922e55/meedan_learnaboutcovi19.org_01.png" />
<meta property="og:image:alt" content="Covid-19 Expert Database" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="300" />