<div class="module module-support">
    <h3>{{ site.data.ui.t[page.lang].support.title }}</h3>
    <div class="list">
        <ul>
            <li><a href="//newsinitiative.withgoogle.com/">Google News Initiative</a></li>
            <li><a href="//www.facebook.com/journalismproject">Facebook Journalism Project</a></li>
            <li><a href="//www.sida.se/English/">Sida (Swedish International Development Agency)</a></li>
            <li><a href="//www.rwjf.org/">Robert Wood Johnson Foundation</a></li>
            <li><a href="//www.omidyar.com/">Omidyar Network</a></li>
        </ul>
    </div>
    <p class="small disclaimer">{{ site.data.ui.t[page.lang].support.disclaimer }}</p>
</div>