.blog h2 {
    grid-column: 1/-1;
    margin-top: var(--space-4);
}

.posts {
    grid-column: 1/-1;
    @include responsive('min-width: #{$width-tablet}') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--space-4);
    }
    .post {
        @media (min-width: 1px) and (max-width: #{$width-tablet}) {
            margin-top: var(--space-4);
        }
    }
}

.blog .post {
    text-decoration: none;
}

.blog .post h4 {
    font-size: 1.4rem;
    line-height: 1.2;
    cursor: pointer;
    padding-right: 20%;
}

.blog .post .description {
    :first-child {
        // margin-top: 0;
        font-size: 1rem;
        line-height: 1.2;
    }
    
}

.blog .post-meta {
    span {
        // display: block;
        margin-right: var(--space-2);
    }
    :last-child:after {
        content: "↗";
        font-family: -apple-system,BlinkMacSystemFont,helvetica neue,Helvetica,Arial,sans-serif;
        font-weight: 600;
        font-size: 1rem;
        text-align: center;
        display: inline-block;
        width: 0;
        margin-left: 0;
        padding-right: .5em;
        padding-left: .2em;
        margin-right: .1em;
    }
}