.button {
    border: 2px solid var(--blackInk);
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    &:hover {
        background-color: var(--blackInk);
        color: var(--edbOrange);
    }
}

body.hi .button {
    font-family: var(--font-family-hindi);
}