$black: #262626;
$white: #FFFFFF;
$light-grayish-orange:#E6DED7;
$dark-green: #175D30;
$vivid-blue: #20B8EB;
$bright-navy: #121B9D;
$soft-red: #CF6860;
$light-red: #EF7E7B;
$pale-red: #FCE2DB;
$bright-green: #36b687;
$bright-orange: #FFB124;