.responsive {
  @media (min-width: 1px) and (max-width: #{$width-tablet}) {
    max-width: 100%;
  }
  max-width: $page-width;
}

.section-margin {
  margin-top: var(--section-margin);
}

.small {
  font-size: 1rem;
}
