.list-questions {
    grid-column: 1/-1;
    margin-top: var(--space-1);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    // @include responsive('min-width: #{$width-tablet}') {
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr);
    //     grid-gap: var(--space-4);
    //     grid-auto-rows: minmax(10vh, auto);
    // }    
}

.list-questions .question-wrapper.question-wrapper-header {
    font-size: 0.889rem;
    line-height: 1.056rem;
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        font-size: 1.333rem;
        line-height: 1.778rem;
        & > :not(.question) {
            display: none;
        }
    }
}

.list-questions .question-wrapper {
    display: grid;
    @include responsive('min-width: #{$width-tablet}') {
        grid-template-columns: 2fr 2fr 1.4fr 0.6fr;
    }
    grid-gap: var(--space-1);
    border-left: 2px solid var(--blackInk);
    padding-left: var(--space-1);
    padding-right: var(--space-1);
    text-decoration: none;
    margin-bottom: var(--space-1);
    transition: background-color .2s linear;
    &:not(:first-child) {
        background-color: rgba(#efefef, 0.38);
        padding-top: var(--space-1);
        padding-bottom: var(--space-1);
        .question {
            font-size: 1.333rem;
            line-height: 1.778rem;
        }
        .experts-say,
        .category,
        .last-modified {
            font-size: 0.889rem;
            line-height: 1.056rem;
            color: var(--gray);
        }
        .category {
            line-height: 1.5rem;
        }
        .with-media-preview {
            display: flex;
        }
        .media-preview {
            display: flex;
            max-height: 4.111rem;
            padding-left: 0.2rem;
        }
        .media-preview span {
            flex: 1 0 auto;
        }
        .media-preview img {
            max-width: 4.111rem;
        }
        .media-preview-count {
            display: flex;
            align-items: center;
            background-color: rgba(#C4C4C4, 0.24);
            padding-left: 0.2rem;
            padding-right: 0.2rem;
        }
    }
    &:hover {
        &:not(:first-child) {
            background-color: rgba(#efefef, 0.68);
            border-left: 2px solid var(--edbGreen);
            color: var(--edbGreen);
        }
    }
    &:visited {
        &:not(:first-child) {
            border-left: 2px solid var(--lightGray);
            color: var(--gray);
        }
    }
}


span.capsule {
    background-color: #fff;
    border-radius: .2rem;
    padding: .1rem .2rem;
}

span.capsule:not(:last-child) {
    margin-right: .2rem;
}

span.capsule.reverse {
    background-color: var(--lightGray);
}