.promo-wrapper {
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        display: block;
        margin-top: var(--space-2);
    }
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: var(--space-4);
        grid-template-rows: repeat(3, min-content);
        grid-row-gap: 0;
    }
    text-decoration: none;
    border-left: 2px solid var(--blackInk);
    background-color: var(--edbPaleOrange);
    &:hover .button {
        background-color: var(--blackInk);
        color: #fff;
    }
}

.promo-wrapper .promo-copy {
    font-size: 2.667rem;
    line-height: 3rem;
    grid-column: 1/5;
    grid-row: 1/2;
    padding-left: var(--space-1);
    padding-right: var(--space-8);
    padding-top: var(--space-1);    
}
.ar .promo-wrapper .promo-copy {
    padding-left: var(--space-8);
    padding-right: var(--space-1);
}
.promo-wrapper .promo-arrow {
    position: relative;
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        transform: translate(35%, 5%) rotate(8deg) scale(0.7);
    }
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 4/6;
        grid-row: 2/2;
        transform: translate(-1rem, -.5rem) rotate(8deg);
    }
}
.ar .promo-wrapper .promo-arrow {
    @include responsive('min-width: #{$width-tablet}') {
        transform: scaleX(-1);
    }
}

.promo-wrapper .button-wrapper {
    grid-column: 5/-1;
    grid-row: 3/-1;
    padding-bottom: var(--space-2);
    padding-left: var(--space-1);
}
.promo-wrapper .button {
    display: block;
    background-color: #fff;
    margin-right: var(--space-1);
    text-align: center;
    font-size: var(--font-size);
}

.ar .promo-wrapper .button {
    margin-right: 0;
    margin-left: var(--space-1);
}