//== Breakpoints
//
//## Three breakpoints for use in media queries
$width-mobile: 					375px;
$width-tablet: 					740px;
$width-desktop: 				980px;
$width-wide: 					1300px;
$width-mobile-landscape: 		480px;

// Page width
$page-width: 1600px;
$paragraph: 840px;
// Type
$font-stack: 'Roboto', -apple-system, Helvetica, Helvetica Neue, Arial, sans-serif;
$font-stack-b: 'Playfair Display', serif;
$large-text: 2.667em;
$large-line-height: 1.25;
$medium-text: 2em;
$medium-line-height: 1.15;
$small-text: 0.778em;
$number: 6.667em;

// Space
$space-small: 2.2em;
$space-medium: 5.556em;
$space-large: 8.333em;