<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}

<body class="form{% if page.lang == 'hi' %} hi{% endif %}">
  {% include message.html %}
  {% include header.html %}
  <div class="content-wrapper">
    {% if page.description %}
      <h2 class="lead">
        {{ site.data.ui.t[page.lang].form.intro }}
      </h2>
    {% endif %}
    <div class="content">
      {% if page.url contains '/ask-a-question' %}
        {% include form_markup.html %}
      {% endif %}
    </div>
  </div>
  {% include js.html %}
</body>

</html>