<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}

<body>
  {% include header.html %}
  <div class="content-wrapper">
    {% if page.lang == 'hi' %}
        {% 
            assign terms = site.data.covid19.glossary-hi 
            | where_exp: "item","item['स्थिति'] == 'Published'" 
        %}
    {% elsif page.lang == 'fr' %}
        {% 
            assign terms = site.data.covid19.glossary-fr 
            | where_exp: "item","item.Status == 'Published'" 
        %}
    {% else %}
        {% 
            assign terms = site.data.covid19.glossary-en
            | where_exp: "item","item.Status == 'Published'" 
        %}
    {% endif %}
    <h2>{{ site.data.ui.t[page.lang].menu.glossary }} ({{ terms.size }})</h2>
    <div class="glossary">
        {% for term in terms %}
            {% if page.lang == 'hi' %}
                {% assign t = term['शब्द'] %}
                {% assign d = term['परिभाषा'] | markdownify %}
            {% elsif page.lang == 'fr' %}
                {% assign t = term['Terme'] %}
                {% assign d = term['Définition'] | markdownify %}
            {% else %}
                {% assign t = term.Term %}
                {% assign d = term.Definition | markdownify %}
            {% endif %}
            
            <div class="term">
                <h4 id="{{ term.id }}">{{ t }}</h4>
                <div class="definition">
                    {{ d }}
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
  {% include newsletter.html %}
  {% include footer.html %}
  {% include js.html %}
</body>

</html>