<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}

<body>
  {% include header.html %}
  <div class="content-wrapper">
    <div class="search">
        <div id="search-searchbar"></div>
        <div id="filters-lang"></div>
    </div>
    <h2>{{ site.data.ui.t[page.lang].menu.glossary }} ({{ terms.size }})</h2>
    <div id="search-hits" class="glossary"></div>
  </div>
  {% include newsletter.html %}
  {% include footer.html %}
  {% include js.html %}
  {% include algolia-glossary.html %}
</body>

</html>