<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}

<body class="glossary">
  {% include header.html %}
  <div class="content-wrapper">
    <h2>{{ site.data.ui.t[page.lang].menu.glossary }} (<div id="stats" class="stats"></div>)</h2>
    <div class="search">
      <div id="search-searchbar" class="searchbar"></div>
      <div id="filters" class="filters">
        <div id="filters-lang"></div>
      </div>
    </div>
    <div id="search-hits" class="glossary-terms"></div>
    <div id="powered-by" class="powered-by"></div>
  </div>
  {% include newsletter.html %}
  {% include footer.html %}
  {% include js.html %}
  {% include algolia-glossary.html %}
</body>

</html>