---
lang: fr
---
<html lang="{{ page.lang }}">
<html>
{% include head.html %}

<body>
  {% include header.html %}
  <div class="content-wrapper">
    {% if page.description-fr %}
      <h2 class="lead">{{ page.description-fr }}</h2>
    {% endif %}
    {% if page.slug == '/' %}
      {% include module_questions.html %}
    {% endif %}
    {% if page.body['fr'] %}
      <div class="content">
        {{ page.body['fr'] | markdownify }}
        {% if page.slug == 'about' %}
          {% include logos.html %}
          {% include support.html %}
        {% endif %}
      </div>
    {% endif %}
    {% if page.modules.en-US %}
      <div class="modules-wrapper">
        {% for module in page.modules.en-US %}
          {%
            include cases_modules.html
            module=module
          %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% if page.slug == '/' %}
    {% include module_about.html %}
  {% endif %}
  {% include newsletter.html %}
  {% include footer.html %}
  {% include js.html %}
  {% include algolia.html %}
</body>

</html>