---
lang: fr
---
<html lang="{{ page.lang }}">
<html>
{% include head.html %}

<body>
  {% include header.html %}
  <div class="content-wrapper">
    {% if page.description-fr %}
      <h2 class="lead">{{ page.description-fr }}</h2>
    {% endif %}
    {% if page.embed['fr'] %}
      <div class="embed">{{ page.embed['fr'] }}</div>
    {% endif %}
    {% if page.body['fr'] %}
      <div class="content">
        {{ page.body['fr'] | markdownify }}
        {% if page.slug == 'about' %}
          <div class="logos">
            <div><a href="//health.meedan.com">{% include wordmark.html %}</a></div>
            <div>An initiative organized by <a href="//meedan.com">{% include meedan_logo.html %}</a></div>
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if page.modules.en-US %}
      <div class="modules-wrapper">
        {% for module in page.modules.en-US %}
          {% 
            include cases_modules.html 
            module=module
          %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% if page.slug == '/' %}
    {% include module_about.html %}
  {% endif %}
  {% include newsletter.html %}
  {% include footer.html %}
  {% include js.html %}
</body>

</html>