<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}

<body class="{% if page.slug == '/' %}front {% endif %}{{ page.lang }}">
  {% include header.html %}
  <div class="content-wrapper">
    {% if page.description %}
      {% if page.slug == '/' %}
      <div class="lead-wrapper">
      {% endif %}  
      <h2 class="lead">{{ page.description }}</h2>
      {% if page.slug == '/' %}
        {% include ask-a-question.html %}
      </div>
      {% endif %}
    {% endif %}
    {% if page.slug == '/' %}
      {% include module_search.html %}
      {% if page.lang == 'en-US' %}
        {% include ask-a-question-promo.html %}
      {% endif %}
    {% endif %}
    {% if page.body['en-US'] %}
      <div class="content">
        {{ page.body['en-US'] | markdownify }}
        {% if page.slug == 'about' %}
          {% include logos.html %}
          {% include support.html %}
        {% endif %}
      </div>
    {% endif %}
    {% if page.modules.en-US %}
      <div class="modules-wrapper">
        {% for module in page.modules.en-US %}
          {% 
            include cases_modules.html 
            module=module
          %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% include newsletter.html %}
  {% include footer.html %}
  {% include js.html %}
  {% include algolia.html %}
</body>

</html>