---
lang: hi
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header.html %}
  <div class="content-wrapper">
    {% if page.description-hi %}
      <h2 class="lead">{{ page.description-hi }}</h2>
    {% endif %}
    {% if page.embed['hi'] %}
      <div class="embed">{{ page.embed['hi'] }}</div>
    {% endif %}
    {% if page.body['hi'] %}
      <div class="content">
        {{ page.body['hi'] | markdownify }}
      </div>
    {% endif %}
    {% include footer.html %}
  </div>
  {% include js.html %}
</body>

</html>