---
lang: en-US
---
<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}

<body {% if page.slug == '/' %}class="front"{% endif %}>
  {% if page.slug == '/' %}
    {% include message.html %}
  {% endif %}
  {% if page.slug == '/' %}
    {% include header.html theme="dark" %}
  {% else %}
    {% include header.html %}
  {% endif %}
  <div class="content-wrapper">
    {% if page.description %}
      <div class="lead-wrapper">
      <h2 class="lead">{{ page.description }}</h2>
      {% if page.slug == '/' %}
        {% include ask-a-question.html %}
      {% endif %}
      </div>
    {% endif %}
    {% if page.slug == '/' %}
      {% include module_search.html %}
    {% endif %}
    {% if page.body['en-US'] %}
      <div class="content">
        {{ page.body['en-US'] | markdownify }}
        {% if page.slug == 'about' %}
          {% include logos.html %}
          {% include support.html %}
        {% endif %}
      </div>
    {% endif %}
    {% if page.modules.en-US %}
      <div class="modules-wrapper">
        {% for module in page.modules.en-US %}
          {% 
            include cases_modules.html 
            module=module
          %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% if page.slug == '/' %}
    {% include module_about.html %}
  {% endif %}
  {% include newsletter.html %}
  {% include footer.html %}
  {% include js.html %}
  {% include algolia.html %}
</body>

</html>