---
lang: hi
---
<html lang="{{ page.lang }}">
<html>
{% include head.html %}

<body class="hi">
  {% if page.slug == '/' %}
    {% include message.html %}
  {% endif %}
  {% include header.html theme="dark" %}
  <div class="content-wrapper">
    {% if page.description-hi %}
      <h2 class="lead">{{ page.description-hi }}</h2>
    {% endif %}
    {% if page.slug == '/' %}
      {% include module_search.html %}
    {% endif %}
    {% if page.body['hi'] %}
      <div class="content">
        {{ page.body['hi'] | markdownify }}
        {% if page.slug == 'about' %}
          {% include logos.html %}
          {% include support.html %}
        {% endif %}
      </div>
    {% endif %}
    {% if page.modules.en-US %}
      <div class="modules-wrapper">
        {% for module in page.modules.en-US %}
          {%
            include cases_modules.html
            module=module
          %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% if page.slug == '/' %}
    {% include module_about.html %}
  {% endif %}
  {% include newsletter.html %}
  {% include footer.html %}
  {% include js.html %}
  {% include algolia.html %}
</body>

</html>