---
lang: en-US
---
<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}

<body>
  {% include header.html %}
  <div class="content-wrapper">
    {% if page.description %}
      <h2 class="lead">{{ page.description }}</h2>
    {% endif %}
    {% if page.embed['en-US'] %}
      <div class="embed">{{ page.embed['en-US'] }}</div>
    {% endif %}
    {% if page.body['en-US'] %}
      <div class="content">
        {{ page.body['en-US'] | markdownify }}
        {% if page.slug == 'about' %}
          <div class="logos">
            <div><a href="//health.meedan.com" title="Learn more about Digital Health Lab"><img src="/images/logo.png" width="300" alt="Digital Health Lab logo"></a></div>
            <div>An initiative organized by <a href="//meedan.com" title="Learn more about Meedan">{% include meedan_logo.html %}</a></div>
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if page.modules.en-US %}
      <div class="modules-wrapper">
        {% for module in page.modules.en-US %}
          {% 
            include cases_modules.html 
            module=module
          %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% if page.slug == '/' %}
    {% include module_about.html %}
  {% endif %}
  {% include newsletter.html %}
  {% include footer.html %}
  {% include js.html %}
</body>

</html>